<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.studentmanage.mapper.TeacherSubjectMapper">

    <resultMap id="BaseResultMap" type="com.demo.studentmanage.model.TeacherSubject">
        <id column="id" property="id" javaType="INTEGER" />
        <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
        <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
        <result column="school_year" property="schoolYear" jdbcType="VARCHAR" />
    </resultMap>

    <select id="read" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.model.TeacherSubject">
        SELECT id, teacher_id, subject_id FROM teacher_subject
        WHERE id = #{id}
    </select>

    <select id="readByTeacherIdAndSubjectIdAndSchoolYear" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.model.TeacherSubject">
        SELECT id, teacher_id, subject_id FROM teacher_subject
        WHERE teacher_id = #{teacherId}
        AND subject_id = #{subjectId}
        AND school_year = #{schoolYear}
    </select>

    <update id="update" parameterType="com.demo.studentmanage.model.TeacherSubject">
        UPDATE teacher_id
        SET subject_id = #{subjectId},
        school_year = #{schoolYear}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM teacher_subject WHERE id = #{id}
    </delete>

    <insert id="save" parameterType="com.demo.studentmanage.model.TeacherSubject">
        INSERT INTO teacher_subject
        (teacher_id, subject_id, school_year)
        values
        (#{teacherId}, #{subjectId}, #{schoolYear})
    </insert>
</mapper>
