<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.studentmanage.mapper.SchoolScoreMapper">

    <resultMap id="BaseResultMap" type="com.demo.studentmanage.model.exclude.SchoolScore">
        <result column="score" property="score" jdbcType="INTEGER" />
        <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
        <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    </resultMap>

    <select id="listSubjectAvgScore" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.model.exclude.SchoolScore">
        SELECT AVG(score) as score ,subject_id FROM score
        WHERE school_year = #{schoolScore.schoolYear}
        GROUP BY subject_id
        LIMIT #{schoolScore.start}, #{schoolScore.size}
    </select>

    <select id="listSubjectMaxScore" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.model.exclude.SchoolScore">
        SELECT MAX(score) as score ,subject_id FROM score
        WHERE school_year = #{schoolScore.schoolYear}
        GROUP BY subject_id
        LIMIT #{schoolScore.start}, #{schoolScore.size}
    </select>

    <select id="listSubjectMinScore" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.model.exclude.SchoolScore">
        SELECT MIN(score) as score ,subject_id FROM score
        WHERE school_year = #{schoolScore.schoolYear}
        GROUP BY subject_id
        LIMIT #{schoolScore.start}, #{schoolScore.size}
    </select>

    <select id="listTeacherSubjectAvgScore" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.model.exclude.SchoolScore">
        SELECT AVG(a.score) as score, a.subject_id, b.teacher_id
        FROM score a INNER JOIN teacher_subject b  ON a.subject_id = b.subject_id
        WHERE b.school_year = #{schoolScore.schoolYear}
        GROUP BY subject_id, teacher_id
        LIMIT #{schoolScore.start}, #{schoolScore.size}
    </select>

    <select id="listTeacherSubjectMaxScore" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.model.exclude.SchoolScore">
        SELECT MAX(a.score) as score, a.subject_id, b.teacher_id
        FROM score a INNER JOIN teacher_subject b  ON a.subject_id = b.subject_id
        WHERE b.school_year = #{schoolScore.schoolYear}
        GROUP BY subject_id，teacher_id
        LIMIT #{schoolScore.start}, #{schoolScore.size}
    </select>

    <select id="listTeacherSubjectMinScore" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.model.exclude.SchoolScore">
        SELECT MIN(a.score) as score, a.subject_id, b.teacher_id
        FROM score a INNER JOIN teacher_subject b  ON a.subject_id = b.subject_id
        WHERE b.school_year = #{schoolScore.schoolYear}
        GROUP BY subject_id, teacher_id
        LIMIT #{schoolScore.start}, #{schoolScore.size}
    </select>

    <select id="listSubjectAvgScoreForTeacher" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.dto.TeacherSubjectDto">
        SELECT AVG(a.score) as score, a.subject_id
        FROM score a INNER JOIN teacher_subject b  ON a.subject_id = b.subject_id
        WHERE b.teacher_id = #{teacherScore.teacherId} AND b.school_year = #{teacherScore.schoolYear}
        GROUP BY subject_id
        LIMIT #{teacherScore.start}, #{teacherScore.size}
    </select>

    <select id="listSubjectMaxScoreForTeacher" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.dto.TeacherSubjectDto">
        SELECT MAX(a.score) as score, a.subject_id
        FROM score a INNER JOIN teacher_subject b  ON a.subject_id = b.subject_id
        WHERE b.teacher_id = #{teacherScore.teacherId} AND b.school_year = #{teacherScore.schoolYear}
        GROUP BY subject_id
        LIMIT #{teacherScore.start}, #{teacherScore.size}
    </select>

    <select id="listSubjectMinScoreForTeacher" resultMap="BaseResultMap" parameterType="com.demo.studentmanage.dto.TeacherSubjectDto">
        SELECT MIN(a.score) as score, a.subject_id
        FROM score a INNER JOIN teacher_subject b  ON a.subject_id = b.subject_id
        WHERE b.teacher_id = #{teacherScore.teacherId} AND b.school_year = #{teacherScore.schoolYear}
        GROUP BY subject_id
        LIMIT #{teacherScore.start}, #{teacherScore.size}
    </select>





</mapper>